@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

  

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


  .material-icons.md-16 { font-size: 16px; }
  .material-icons.md-24 { font-size: 24px; }
  .material-icons.md-36 { font-size: 36px; }
  .material-icons.md-48 { font-size: 48px; }



  .cantarell-regular {
    font-family: "Cantarell", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cantarell-bold {
    font-family: "Cantarell", serif;
    font-weight: 700;
    font-style: normal;
  }





html {
    background-color: #fffbcd;
    /* display: flex; /* Enable Flexbox */
    /* justify-content: center; /* Center horizontally */
    /* align-items: center; */ 
}

body {
    margin: 0px;
    font-family: "Cantarell", sans-serif;

}

.banner {
    text-align: center;
    margin: 0 auto;
    max-width: 750px;
    background-color: white;
    margin-top: 0;
    border: 3px solid #004093;
    border-radius: 3px;
    border-top: none;

}

.banner h3 {
    font-size: 2rem;
    color: #004093;
    font-family: "Concert One", sans-serif;

}
.header {
    text-align: center;
    margin: 0 auto;

}

.header img{
    height: 80px;
    width: 105px;

}


.header h1{
    font-family: "Cantarell", sans-serif;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.googleLink {
    color: black; /* Default color */
    transition: transform 0.1s ease, color 0.2s ease; /* Smooth transition for both scaling and color */
    text-decoration: none; /* Remove underline initially */
}

.googleLink:hover {
    text-decoration: underline; /* Adds underline on hover */
    color: rgb(200, 49, 49); /* Change color to red on hover */
}


.blueBox{
    display: flex;
    margin: 0 auto;
    max-width: 850px;
    justify-content: center;
    background-color: #004093;
    border-radius: 3px;
    margin-bottom: 45px;
    margin-top: 50px;
    padding: 15px;
}



.build {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 850px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    margin: 0px auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}




.line {
    border-top: 10px solid white;
    background-color: #004093;
    height: 15px;
    width: 100%;

}


.info{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    margin-top: 25px;
    font-family: "Cantarell", sans-serif;
}





.body2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    align-items: center;


}



.bb {
    background-color: white;
    max-width: 850px;
    width: 700px;
    border-radius: 7px;
    padding: 20px;
    border: 3px solid #004093;
    margin-bottom: 20px;
    box-shadow: 11px 15px #8FB8EC;



}


.bb {
    overflow-y: auto;
    height: 250px;
}



.box {
    background-color: white;
    min-width: 250px;
    max-width: 300px;
    height: auto;
    margin-top: 35px;
    margin-inline: 20px;

    margin-left: 5px;
    margin-right: 10px;
    box-shadow: 6px 9px #004093;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;

}

.box {
    overflow-y: auto;
    height: 200px;
}

.box h4,ul {
    font-family: "Cantarell", sans-serif;
    margin: 0;
    padding-top: 10px;
}

.box h3 {
    font-size: 1.5rem;
}

.box2 {
    background-color: white;
    width: 750px;
    height: auto;
    margin-top: 35px;
    margin-inline: 20px;

    margin-left: 5px;
    margin-right: 10px;
    box-shadow: 6px 9px #004093;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;


}

ul li {
    margin-bottom: 2px;
}





.sidebar{
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 100%;
    background-color: rgb(223, 223, 223);
    align-items: center;
    
}
.midsection {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 100%;

}

.logo {
    padding-right: 7px;

}



.pepe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    

}

.navEmail{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.searchBar {
    width: 60%;
    height: 65%;
    border: 1px solid rgb(60, 60, 60);
    background-color: #ededed;
    border-radius: 50px;
    display: flex;
    align-items: center; /* Centers vertically */
}

.magGlass {
    padding-left: 10px;
}

.searchText {
    font-size: .8rem;
    color: #676666;
}

.activeButton {
    width: 6rem;
    height: 60%;
    border: 1px solid rgb(60, 60, 60);
    background-color: #dfdfdf;
    border-radius: 50px;
    margin-left: 1.5rem;
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center;
    font-size: .8rem;
    position: relative;

}

.Activetiptext {
    z-index: 2;
    width: 190px;
    height: 200px;
    background-color: rgb(234, 234, 234);
    text-align: left;
    padding: 3px 0 15px ;
    border-radius: 5px;
    margin-left: 2rem;
    border: 2px solid rgb(143, 143, 143);
    position: absolute;
    top: 50px;
    left: -30%; 
    opacity: 0; /* Hidden by default */
    display: none; /* Ensures it doesn't take up space */
    transition: opacity 0.6s ease;
    /* transform: translateX(1.5rem); */
    /* opacity: 0; /* Initially hidden */
    /* transition: opacity .2s ease, visibility 0.1s ease; /* Smooth fade-in effect */
    /* transition-delay: .5s;  */

}

  .Activetiptext.visible {
    opacity: 1; /* Fully visible */
    display: block; /* Becomes visible when the "visible" class is added */
  }

.ActiveToolBox p {
    margin-bottom: 25px;
    padding-left: 20px;
}


.activeButton:hover{
    background-color: #c5c5c5;
    cursor: pointer;
}

.helpButton{
    width: 2rem;
    height: 60%;
    margin-left: 1.5rem;
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center;
    font-size: .8rem;
    position: relative;

}

.helpButton:hover{
    background-color: #c5c5c5;
    border-radius: 50%;
    cursor: pointer;
}

.supportBox{
    visibility: hidden;
    background-color: #c5c5c5;
    top: 41px;
    left: -30%; 
    z-index: 3;
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center;
    width: 55px;
    height: 25px;
    position: absolute;
    font-size: .8rem;
    border-radius: 10px;
}

.helpButton:hover .supportBox {
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
  }

.radioButton {
    margin-right: .3rem;
}
.Active-text {
    display: block; /* Default display */
  }

.SupportToolBox p {
    margin-bottom: 15px;
    padding-left: 20px;
}

.SupportTiptext {
    z-index: 2;
    width: 100px;
    height: 150px;
    background-color: rgb(234, 234, 234);
    text-align: left;
    padding: 3px 0 5px ;
    border-radius: 5px;
    margin-left: 2rem;
    border: 2px solid rgb(143, 143, 143);
    position: absolute;
    top: 50px;
    right: -45px;
    opacity: 0; /* Hidden by default */
    display: none; /* Ensures it doesn't take up space */
    transition: opacity 0.3s ease;
   /* opacity: 0; Hidden by default */
     /* Ensures it doesn't take up space */


}

.SupportTiptext.visible {
    opacity: 1; /* Fully visible */
    display: block; /* Becomes visible when the "visible" class is added */
  }

.email{
    display: flex;
    align-items: center; /* Centers vertically */
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    height: 80%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 6px;



}


.menu{
    margin-top: 18px;
    margin-bottom: 25px;
    display: flex;
    gap: 0;
    flex-direction: column;

}

.three {
    margin: 0px 0px 15px 0px;
    display: flex;
    gap: 0;
    flex-direction: column;
    
}

.three:hover{
    cursor: pointer;
    
}

.menuicon{
    margin: 0px auto;
    height: 30px;

}

.icon{
    transform: scale(1);
    display: inline-block;
    padding: 2px 15px 0px 15px;
    transition: transform 0.3s ease;

}

.others p:hover{
    border-radius: 11px;
    background-color: #c5c5c5;

}


.icon:hover{
    transform: scale(1.1);
    border-radius: 11px;
    background-color: #c5c5c5;
}

.active{
    transform: scale(1.1);
    border-radius: 11px;
    background-color: #c5c5c5;
    display: inline-block;
    padding: 2px 14px 3px 14px;
    position: relative;
}


.tooltiptext {
    z-index: 2;
    visibility: hidden;
    width: 150px;
    height: 300px;
    background-color: rgb(234, 234, 234);
    /* margin-left: 1.5rem; */
    color: #000000;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    margin-left: 2rem;
    border: 1px solid rgb(169, 169, 169);
    /* transform: translateX(1.5rem); */
    opacity: 0; /* Initially hidden */
    transition: opacity .2s ease, visibility 0.1s ease; /* Smooth fade-in effect */
    transition-delay: .5s;


}

.mailHover {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    font-size: .7rem;
    padding-left: 2px;
    padding-right: 2px;

}

.compose {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid rgb(60, 60, 60);
    background-color: #ffffff;
    border-radius: 3px;

}

.compose p {
    padding-left: 18px;
}

.others {
    padding-left: 18px;

}


.icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1; 
    
  }



.mmm {
    font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
    transition: font-variation-settings .5s ease; /* 0.5s or any duration you prefer */
}




.label {
    font-size: .8rem;
    margin: 0px auto;
    padding: 0px;
}

.test:hover{
    animation: bounce 0.5s ease;
    
}

@keyframes bounce {
    0% {
        transform: translateY(0); /* Start from the normal position */
    }
    30% {
        transform: translateY(-4px); /* Move up a bit */
    }
    50% {
        transform: translateY(3px); /* Move down a little */
    }
    70% {
        transform: translateY(-2px); /* Move up again */
    }
    100% {
        transform: translateY(0); /* Return to normal position */
    }
}

@media (max-width: 900px) {
    .body {
        display: flex;
        flex-direction: column;
        align-items: center; /* Optional: centers items horizontally */
        justify-content: center;
        margin: 0 auto;
      }

      .body2 {
        display: flex;
        flex-direction: column;
        align-items: center; /* Optional: centers items horizontally */
        justify-content: center;
        margin: 0 auto;
      }

    .banner {
        text-align: center;
        margin: 0 auto;
        max-width: 425px;
        
      } 

      .banner h3 {
        font-size: 1.5rem;
    
    }
    

    .header h1{
        padding-top: 20px;
        font-size: 2rem;
        margin: 0 auto;
        text-align: center;
    }


    .header img{
        height: 75px;
        width: 100px;
    
    }
    
    .line {
        border-top: 7px solid white;
        background-color: #004093;
        height: 11px;
        width: 100%;
    
    }

    .bb {
        background-color: white;
        max-width: 850px;
        width: 400px;
        border-radius: 7px;
        padding: 20px;
        border: 3px solid #004093;
        margin-bottom: 20px;
        box-shadow: 7px 10px #8FB8EC;
    
    }

    .bb {
        overflow-y: auto;
        height: 200px;
    }

      .box2 {
        min-width: 250px;
        max-width: 400px;
      }

      .build{
        min-width: 400px;
      }

      .searchBar {
        height: 60%;
        width: 60%;
    }

     .activeButton {
        height: 60%;
        width: 19%;
        margin-left: 1rem;
    }

    .Active-text {
        display: none; /* Hide when screen is less than 900px */
      }

    .radioButton {
        margin-left: 1rem;
    }

    .dropDown {
        margin-right: 1rem;
    }
}
