main {
    background-color: white;
    border: 15px;
    margin: 150px 150px;
}

h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 25px;
    padding-bottom: 30px;
}

article {
    padding: 50px 50px;
}

img {
    
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}