html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div {
    max-width: 100%;
    box-sizing: border-box; 
}

body {
    color: #282828;
    margin: 10px;
    overflow-x: hidden;
}

#Banner {
    background-color: #FF0000;
    text-align: center;
    color: white;
    padding-bottom: 12px;
    padding-top: 10px;
    margin-bottom: 7%;
    width: 100%;

}

#video {
    text-align: center;
    margin: 0px auto;

}

#YtLink {
    color: #fff;

}

h2 {
    margin: 60px;
}


.trigger {
    background-color: #dbdbdb;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: 5px;
    margin: 60px;
    padding: 30px;
}


.trigger,ul {
    font-size: small;
    list-style-type: square;

}

.trigger,.rules, li {
    margin-bottom: 7px;
}

#trig-left {
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 50px;
    font-size: large;
    box-shadow: 8px 5px 2px #FF0000;
}

#trig-right {
    flex-direction: column;
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
    border-radius: 2px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    padding: 50px;
    font-size: large;
    box-shadow: 8px 5px 2px #FF0000;
}

.rules {
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: 5px;
    margin: 60px;
    padding: 30px;
}

#rules-top {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 8px 5px 2px #FF0000;


}

#rules-bottom {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 25px;
    border-radius: 2px;
    box-shadow: 8px 5px 2px #FF0000;

    
}


.FEEDBACK {
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: 5px;
    margin: 60px;
    padding: 30px;
}

#FB-top {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 8px 5px 2px #FF0000;


}

#FB-bottom {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 25px;
    border-radius: 2px;
    box-shadow: 8px 5px 2px #FF0000;

    
}

/* Like/dislike button*/



.rate-container {
    margin: 0 auto;
    margin-top: 20;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    background-color: #e9e9e9;
    height: 50px;
    width: 137px;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    overflow: visible;
    position: relative;
    
}



.post-rate {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.post-rate:not(:last-child) {
    padding-left: 12px;
    padding-right: 22px;
    border-right: 1px dashed #bbbbbb;
    height: 100%;
    width: 100%;


}


.post-rate:last-child {
    padding-left: 16px;
    height: 100%;
    width: 100%;
    position: relative;

}




.tooltiptext {
    visibility: hidden;
    background-color: rgb(235, 235, 235);
    color: #000000;
    width: fit-content;
    padding: 1px;
    border-radius: 3px;
    font-size: x-small;
    position: absolute;
    margin-top: 4px;
    z-index: 100;
    top: 100%;
    left: 31%;

}

.post-rate:hover .tooltiptext {
    visibility: visible;
    transition-delay: 2s;
  }





.material-symbols-outlined {
    margin-right: 8px;
}

.material-icons {
    margin-right: 8px;
}

label {
    padding: 6px;
}


.like:hover {
    background-color: #cfcfcf;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

}
.dislike:hover {
    background-color: #cfcfcf;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}




@media only screen and (max-width: 768px) {
    .trigger {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .item {
        flex: 1 1 100%; /* Make each item take full width */
    }
}

.hand {
    animation: hand 1.5s ease-in;
    fill: #000000;
    transform-origin: center;
  }
  
  .line {
    fill: transparent;
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    stroke-linecap:round;
    stroke-linejoin:round;
  }
  
  .line-1 {
    stroke: #fb493f;
    stroke-width: 2;
    animation: first 1.5s ease-in;
  }
  
  .line-2 {
    stroke: #cbfcc9;
    stroke-width: 1.5;
    animation: first 1.5s ease-in;
  }
  
  .line-3 {
    stroke: #dec83c;
    stroke-width: 3;
    animation: second 1.5s ease-in;
  }
  
  .line-4 {
    stroke: #cbfcc9;
    stroke-width: 2;
    animation: second 1.5s ease-in;
  }
  
  .line-5 {
    stroke: #fb493f;
    stroke-width: 2;
    animation: third 1.5s ease-in;
  }
  
  .line-6 {
    stroke: #ab71f7;
    stroke-width: 2;
    animation: third 1.5s ease-in;
  }
  
  .line-7 {
    stroke: #dec83c;
    stroke-width: 2;
    animation: third 1.8s ease-in;
  }
  
  .circle-1 {
    fill: #dec83c;
    opacity: 0;
    animation: circle 1.5s ease-in;
  }
  
  .circle-2 {
    fill: #fb493f;
    opacity: 0;
    animation: circle 1.5s ease-in;
  }
  
  .circle-3 {
    fill: #cbfcc9;
    opacity: 0;
    animation: circle 1.5s ease-in;
  }
  
  .flower-1 {
    fill: #dec83c;
    opacity: 0;
    animation: flower-1 1.5s ease-in;
  }
  
  .flower-2 {
    fill: #cbfcc9;
    opacity: 0;
    animation: flower-2 1.5s ease-in;
  }
  
  .flower-3 {
    fill: #fb493f;
    opacity: 0;
    animation: flower-1 1.5s ease-in;
  }
  
  @keyframes flower-1 {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    55% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes flower-2 {
    0% {
      opacity: 0;
    }
    55% {
      opacity: 0;
    }
    60% {
      opacity: .5;
    }
    65% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes circle {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes first {
    20% {
      stroke-dashoffset: 40;
    }
    40% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 40;
    }
  }
  
  @keyframes second {
    30% {
      stroke-dashoffset: 40;
    }
    40% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 40;
    }
  }
  
  @keyframes third {
    35% {
      stroke-dashoffset: 40;
    }
    40% {
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dashoffset: 40;
    }
  }
  
  @keyframes hand {
    0% {
      fill: #fff;
      transform: scale(.3) rotate(10deg);
    }
    5%{
      transform: scale(.5) rotate(10deg);
    }
    20% {
      fill: #cbfcc9;
      transform: scale(1.3) rotate(-15deg);
    }
    40% {
      fill: #ab71f7;
      transform: scale(1.3) rotate(-30deg);
    }
    55% {
      transform: scale(1.3) rotate(-30deg);
    }
    60% {
      fill: #ddd926;
      transform: scale(1) rotate(10deg);
    }
    66% {
      fill: #f28032;
      transform: scale(1) rotate(2deg);
    }
    70% {
      fill: #fe443b;
      transform: scale(1) rotate(0deg);
    }
    100%{
      fill: #000000;
      transform: scale(1) rotate(0deg);
    }
  }
  
  input {
    display: none;
  }
  
  input + label {
    cursor: pointer;
  }
  
  input + label > .checked {
    display: none;
  }
  
  input:checked + label > .checked {
    display: block;
  }
  
  input:checked + label > .unchecked {
    display: none;
  }
  
  svg {
    vertical-align: middle;
  }